/*========================================= shared style ============================================ */

:root {
  --primary-color: #ff5400;
  --nav-color: #424247;
  --secondary-color: #fff;
  --dark-color: #131318;
  --secondary-dark: rgba(19, 19, 24, 0.7);
  --gray-color: #5a5a5d;
  --primary-bg: rgba(255, 255, 255, 0.8);
  --secondary-bg: rgba(19, 19, 24, 0.05);
  --primary-fontweight: 800;
}
body {
  font-family: "Mulish", sans-serif;
}
.header,
main {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  margin-bottom: 100px;
}
.button_primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
/*========================================= header section style ============================================ */

.navber {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h3 {
  font-size: 2.25rem;
  font-weight: var(--primary-fontweight);
}
.logo h3 span {
  color: var(--primary-color);
}
/*========================================= navbar style ============================================ */

.navlist {
  display: flex;
  list-style: none;
}
.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  /* justify-content: center; */
}
.logo img {
  width: 48px;
  height: 56px;
}
.navlist > li {
  padding-right: 44px;
}
.navlist i {
  width: 24px;
  display: none;
}
.navlist li a {
  text-decoration: none;
  color: var(--nav-color);
  font-size: 1.12rem;
}
.navlist li:first-child a {
  color: var(--primary-color);
}

/* banner section styles  */

.banner_section {
  margin-top: 48px;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(./img/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 60vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 106px;
}
.banner_heading {
  font-size: 4rem;
  color: var(--secondary-color);
  text-align: center;
  margin: 24px;
}
.banner_description {
  color: var(--secondary-color);
  text-align: center;
}
.banner_input {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
}
.banner_input input {
  padding: 16px;
  margin-left: 20px;
  border-radius: 8px;
  border: 0;
}
.banner_input > i {
  margin-left: -25px;
  color: rgba(19, 19, 24, 0.5);
}
.hero_btn {
  border: 0;
  margin-left: 20px;
  padding: 1.2rem;
  border-radius: 8px;
  color: var(--secondary-color);
  background: var(--primary-color);
  text-align: center;
}

/* tour section styles  */
.populer_tour {
  display: flex;
  justify-content: space-between;
  gap: 54px;
}
.tour_title {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--dark-color);
}
.tour_description {
  color: var(--secondary-dark);
  font-size: 1rem;
  line-height: 26px;
}
.tour_list {
  color: var(--secondary-dark);
  line-height: 26px;
}
.tour_btn {
  padding: 15px 40px;
}

.why-choose-us {
  text-align: center;
}
.choose_us_title {
  font-size: 2.5rem;
  color: var(--dark-color);
  font-weight: var(--primary-fontweight);
}
.choose_us_description {
  font-size: 1rem;
  color: var(--secondary-dark);
  margin-bottom: 48px;
}
.card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  gap: 24px;
  grid-template-areas:
    "card1 card1 card2 card2"
    ". card3 card3 ."
    ". . . .";
  text-align: left;
}
.card h2 {
  font-size: 1.5rem;
  font-weight: var(--primary-fontweight);
}
.card p {
  color: var(--gray-color);
}
.card1 {
  grid-area: card1;
}
.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card {
  border-radius: 16px;
  padding: 32px;
}
.card i {
  font-size: 64px;
}
.card1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.card2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.card3 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

@media screen and (max-width: 667px) {
  .logo h3 {
    font-size: 22px;
  }
  .logo img {
    width: 28.724px;
    height: 33.516px;
  }
  .navlist li {
    display: none;
  }
  .navlist i {
    display: block;
  }
  .banner_section {
    padding: 25px;
  }
  .banner_input {
    padding: 16px;
  }
  .banner_input input {
    margin-bottom: 10px;
  }
  .banner_heading {
    font-size: 22px;
  }
  .hero_btn {
    width: 78%;
  }
  /* tour responsive */
  .populer_tour {
    flex-direction: column-reverse;
  }
  .right_col img {
    width: 100%;
  }
  /* choose us section responsive  */
  .card_container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 3);
    gap: 24px;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
  }
}
