/*========================================= shared style ============================================ */

:root {
  --primary-color: #ff5400;
  --nav-color: #424247;
  --secondary-color: #fff;
  --dark-color: #131318;
  --secondary-dark: rgba(19, 19, 24, 0.7);
  --gray-color: #5a5a5d;
  --primary-bg: rgba(255, 255, 255, 0.8);
  --secondary-bg: rgba(19, 19, 24, 0.05);
  --primary-fontweight: 800;
}
body {
  font-family: "Mulish", sans-serif;
}
.header,
main,
footer {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  margin-bottom: 100px;
}

/*========================================= header section style ============================================ */

.navber {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h3 {
  font-size: 2.25rem;
  font-weight: var(--primary-fontweight);
}
.logo h3 span {
  color: var(--primary-color);
}
/*========================================= navbar style ============================================ */

.navlist {
  display: flex;
  list-style: none;
}
.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo img {
  width: 48px;
  height: 56px;
}
.navlist > li {
  padding-right: 44px;
}
.navlist i {
  width: 24px;
  display: none;
}
.navlist li a {
  text-decoration: none;
  color: var(--nav-color);
  font-size: 1.12rem;
}
.navlist li:first-child a {
  color: var(--primary-color);
}

/* ==================================banner section styles  ==================================*/

.banner_section {
  margin-top: 48px;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(./img/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 60vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 106px;
}
.banner_heading {
  font-size: 4rem;
  color: var(--secondary-color);
  text-align: center;
  margin: 24px;
}
.banner_description {
  color: var(--secondary-color);
  text-align: center;
}
.banner_input {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
}
.banner_input input {
  padding: 16px;
  margin-left: 20px;
  border-radius: 8px;
  border: 0;
}
.banner_input > i {
  margin-left: -25px;
  color: rgba(19, 19, 24, 0.5);
}
.hero_btn {
  border: 0;
  margin-left: 20px;
  padding: 1.2rem;
  border-radius: 8px;
  color: var(--secondary-color);
  background: var(--primary-color);
  text-align: center;
}

/* ==================================tour section styles  ==================================*/
.populer_tour {
  display: flex;
  justify-content: space-between;
  gap: 54px;
}
.tour_title {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--dark-color);
}
.tour_description {
  color: var(--secondary-dark);
  font-size: 1rem;
  line-height: 26px;
  text-align: left;

}
.tour_list {
  color: var(--secondary-dark);
  line-height: 26px;
  text-align: left;
}
.tour_btn {
  padding: 15px 40px;
}
/* ==================================why choosae us  sectiion styles ==================================*/
.why-choose-us {
  text-align: center;
}
.choose_us_title {
  font-size: 2.5rem;
  color: var(--dark-color);
  font-weight: var(--primary-fontweight);
}
.choose_us_description {
  font-size: 1rem;
  color: var(--secondary-dark);
  margin-bottom: 48px;
}
.card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  gap: 24px;
  grid-template-areas:
    "card1 card1 card2 card2"
    ". card3 card3 ."
    ". . . .";
  text-align: left;
}
.card h2 {
  font-size: 1.5rem;
  font-weight: var(--primary-fontweight);
}
.card p {
  color: var(--gray-color);
}
.card1 {
  grid-area: card1;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.card2 {
  grid-area: card2;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.card3 {
  grid-area: card3;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

.card {
  border-radius: 16px;
  padding: 32px;
}
.card i {
  font-size: 64px;
}
/* ================================destination section styles  ============================*/

.destinationcontainer {
  text-align: center;
}
.destiHeading{
  font-size: 2.5rem;
  font-weight: var(--primary-fontweight);
  color: var(--dark-color);
}
.destiPera{
  color: var(--gray-color);
  font-size: 1rem;
}
.destinationContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 24px;
  grid-auto-flow: row;
  grid-template-areas:
    "firstimg firstimg firstimg firstimg secondimg secondimg secondimg secondimg"
    "thirdimg thirdimg fourthimg fourthimg fourthimg fourthimg fifthimg fifthimg"
    "sixthimg sixthimg sixthimg seventhimg seventhimg seventhimg seventhimg seventhimg";
}
.destinationContainer > div img {
  width: 100%;
  height: 100%;
}

.firstimg {
  grid-area: firstimg;
  position: relative;
}

.secondimg {
  grid-area: secondimg;
  position: relative;

}

.thirdimg {
  grid-area: thirdimg;
  position: relative;

}

.fourthimg {
  grid-area: fourthimg;
  position: relative;

}

.fifthimg {
  grid-area: fifthimg;
  position: relative;

}

.sixthimg {
  grid-area: sixthimg;
  position: relative;

}

.seventhimg {
  grid-area: seventhimg;
  position: relative;

}
.layer{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.layer h3{
  color: var(--secondary-color);
  font-weight: var(--primary-fontweight);
  text-transform: uppercase;
  width: 100%;
  top: 50%;
  left: 50%;
transform: translate(-50%, -50%);
  position: absolute;
}
/*================================== discount_section  styles ==================================*/
.discount_section {
  text-align: center;
}
.discount_section h2 {
  font-size: 2.5rem;
  font-weight: var(--primary-fontweight);
}
.discount_section p {
  color: var(--gray-color);
  margin-bottom: 50px;
}
.package1 {
  background: url(./img/package.png);
  background-position: center;
  background-size: cover;
  padding: 55px;
  border-radius: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.package_conteiner {
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  padding: 50px;
  max-width: 40%;
  text-align: left;
}
.package_conteiner h2 {
  color: var(--dark-color);
  font-weight: var(--primary-fontweight);
}
.package_conteiner p {
  color: var(--nav-color);
}
.package_conteiner span,
h4 {
  margin-right: 24px;
  color: var(--primary-color);
}
.book_btn {
  margin-left: 0;
  padding: 14px 24px;
}
.package2 {
  background: url(./img/discountImg2.png);

  background-position: right;
  background-size: cover;
  padding: 55px;
  border-radius: 16px;
  margin-bottom: 20px;
}
.package3 {
  background: url(./img/package.png);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-position: right;
  background-size: cover;
  padding: 55px;
  border-radius: 16px;
  display: flex;
  margin-bottom: 20px;
}
/* ==================================newsletter section styles ================================== */

.newsletter_section {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.newsletter_section form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border: 1px solid var(--primary-color);
  gap: 15px;
  border-radius: 8px;
  align-items: center;
}
.newsletter_section form input[type="text"] {
  border: 0;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  width: 100%;
  padding: 20px;
}
.newsHeading {
  margin: 10px;
  text-align: left;
}
.news_btn {
  width: 100%;
  text-align: center;
}
.imgareacontent {
  width: 40%;
  position: relative;
  margin-top: -210px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}
.content {
  border-radius: 8px;

  transform: rotate(-45deg);
  background: var(--primary-color);
  width: 40%;
  align-items: center;
}
.content h3 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--secondary-color);
  margin: 5px;
}
.content h2 {
  font-size: 2rem;
  color: var(--secondary-color);
  text-align: center;
}
/* =======================footer area styles ======================================= */
.footer {
  background: rgba(19, 19, 24, 0.05);
  max-width: 1140px;
  padding: 110px;
  text-align: center;
}
.footer_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_logo span {
  color: var(--primary-color);
}
.footer_logo img {
  width: 40px;
  height: 46px;
  padding-right: 10px;
}
.footer_logo h2 {
  font-size: 2rem;
  font-weight: var(--primary-fontweight);
}

@media screen and (max-width: 667px) {
  .logo h3 {
    font-size: 22px;
  }
  .logo img {
    width: 28.724px;
    height: 33.516px;
  }
  .navlist li {
    display: none;
  }
  .navlist i {
    display: block;
  }
  .banner_section {
    padding: 25px;
    
  }
  .banner_input {
    padding: 16px;

  }
  .banner_input input {
    margin-bottom: 10px;
  }
  .banner_heading {
    font-size: 22px;
  }
  .hero_btn {
    width: 78%;
  }
  .destiHeading{
    font-size: 1.25rem;
  }
  /* tour responsive */
  .populer_tour {
    flex-direction: column-reverse;
  }
  .right_col img {
    width: 100%;
  }
  /* choose us section responsive  */
  .card_container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 3);
    gap: 24px;
    grid-template-areas:
      "card1"
      "card2"
      "card3";
  }
  .package_conteiner {
    padding: 25px;
    max-width: 70%;
    text-align: left;
  }
  .package_conteiner h2 {
    font-size: 1.25rem;
  }
  .package_conteiner p {
    font-size: 0.75rem;
  }
  .firs-span {
    padding-right: 15px;
  }

  .package_conteiner span {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

  .destinationContainer {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: auto 3;
    gap: 24px;
    grid-auto-flow: row;
    grid-template-areas:
      "firstimg"
      "secondimg"
      "thirdimg"
      "fourthimg"
      "fifthimg"
      "sixthimg"
      "seventhimg";
  }

  .newsletter_section {
    flex-direction: column;
  }
  .newsletter_section .image_area img {
    width: 100%;
  }
  .imgareacontent {
    margin-top: -160px;
    justify-content: center;
  }
  .content h3 {
    font-size: 14px;
  }
  .content h2 {
    font-size: 20px;
  }
  .footer {
    padding: 44px;
  }
  .footer_logo h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 668px) and (max-width: 992px) {
  .navber{
    justify-content: space-between;
    margin-right: 20px;
  }
  .logo h3 {
    font-size: 25px;
  }
  .logo img {
    width: 30.724px;
    height: 33.516px;
  }
  .navlist {
    align-items: center;
    justify-content: center;
  }
  .navlist li {
    display: none;
  }
  .navlist i {
    display: block;
    font-size: 2rem;
    /* padding-right: 20px; */
  }
  .banner_section {
    padding: 25px;
  }
  .banner_input {
    padding: 16px;
  }
  .banner_input input {
    margin-bottom: 10px;
  }
  .banner_heading {
    font-size: 22px;
  }
  .hero_btn {
    width: 85%;
  }

  .destinationContainer {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: auto 3;
    gap: 24px;
    grid-auto-flow: row;
    grid-template-areas:
      "firstimg"
      "secondimg"
      "thirdimg"
      "fourthimg"
      "fifthimg"
      "sixthimg"
      "seventhimg";
  }
  .newsletter_section {
    flex-direction: column;
  }
  .newsletter_section .image_area img {
    width: 100%;
  }
  .imgareacontent {
    margin-top: -190px;
    justify-content: flex-end;
  }
  .content {
    transform: rotate(-30%);
  }
  .content h3 {
    font-size: 14px;
  }
  .content h2 {
    font-size: 20px;
  }
  .populer_tour {
    flex-direction: column-reverse;
    text-align: center;
  }
}
